{% extends '::base.html.twig' %}

{% block sidebar %}
    <div class="items open">
        <ul class="nav nav-sidebar">
            {#<li><a href="#" class="btn-info">Home</a></li>#}
            {#<li><a href="{{ path('review_create') }}" class="btn-info">Add book</a></li>#}
        </ul>
    </div>
{% endblock %}